.course-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.options-bar {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
}

.option {
    width: 30px; /* Equal width for all options */
    height: 30px; /* Set your desired height */
    background-color: #ccc; /* Default background color */
    margin: 5px; /* Space between options */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: Arial, sans-serif; /* Set font family */
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.option.selected {
    background-color: #ffcc00; /* Highlight color for selected option */
}

.grade-input {
    width: 50px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
  