.course-form {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  align-items: center;
  color: black;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.course-form label {
  flex-grow: 1;
  align-items: left;
  justify-content: left;
}

.options-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.option {
  width: calc(6vmin); /* Equal width for all options */
  height: calc(6vmin); /* Set your desired height */
  background-color: #ccc; /* Default background color */
  margin: calc(0.5vmin); /* Space between options */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-family: Arial, sans-serif; /* Set font family */
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.option.selected {
  background-color: #ffcc00; /* Highlight color for selected option */
}

.grade {
  margin: calc(1vmin);
}

.grade-input {
  width: calc(6vmin);
  height: calc(5vmin);
  margin: calc(1vmin);
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.course-name {
  width: 20vmin;
}

.delete-button {
  display: none; /* Initially hide the delete button */
  appearance: none;
  background-color: #f54040;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: -30px;
}

.course-form:hover .delete-button {
  display: inline-block; /* Show the delete button when course-form is hovered over */
}

.course-form:hover .grade{
    display: none; /* Hide the grade */
}

