.course-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: #F8F9FA;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.options-bar {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: calc(-5px + 10vmin);
}

.option {
    width: 30px; /* Equal width for all options */
    height: 30px; /* Set your desired height */
    background-color: #ccc; /* Default background color */
    margin: 5px; /* Space between options */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: Arial, sans-serif; /* Set font family */
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.option.selected {
    background-color: #ffcc00; /* Highlight color for selected option */
}

.grade {
    width: auto;
    height: auto;
    margin: 10px;
    margin-right: calc(-10px + 10vmin);
}

.grade-input {
    width: 50px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-right: calc(20vmin + 5px);
}

.course-name {
    width: 20vmin;
    margin-right: calc(10vmin - 5px);
    margin-left: calc(10px + 5vmin);
}
  